a {
    all: unset;
}
.nav-btn{
    margin-top: 15px;
    width: 75px;
    height: 30px;
    vertical-align: center;
    text-align: center;
    background-color: #4DB9EE;
    color: white;
    transition: 0.25s;
}
.nav-btn:hover{
    background-color: black;
    text-decoration: underline;
}
.divMenuRight{
    margin-top: 55px;
}