<?php
/**
 *  Projet: ICT-151-Revisions: exo calendar_debug
 *  Filename: .const.php login informations
 *  Author: YOU
 *  Creation date: CHOOSE DATE
 */

//TODO: renommer en .const.php et remplir les valeurs pour la database
$user = "";
$pass = "";
$dbhost = "";
$dbname = "";
$debug = false;
?>